<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.westudio.wecampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".ui.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.We" >

        <activity
            android:name=".ui.login.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Intro Activity -->
        <activity
            android:name=".ui.intro.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!-- Auth Activity -->
        <activity
            android:name=".ui.login.AuthActivity"
            android:label="@string/btn_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <!-- Terms of Use Activity -->
        <activity
            android:name=".ui.about.TermsOfUseActivity"
            android:label="@string/terms_of_use"
            android:screenOrientation="portrait">
        </activity>

        <!-- My Homepage activity -->
        <activity
            android:name=".ui.user.MyHomepageActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- Detail Activity -->
        <activity
            android:name=".ui.activity.ActivityDetailActivity"
            android:label="@string/detail_label"
            android:screenOrientation="portrait">
        </activity>

        <!-- User Homepage Activity -->
        <activity
            android:name=".ui.user.UserHomepageActivity"
            android:label=""
            android:screenOrientation="portrait">
        </activity>

        <!-- My Profile Activity -->
        <activity
            android:name=".ui.user.MyProfileActivity"
            android:label="@string/user_profile"
            android:screenOrientation="portrait">
        </activity>

        <!-- Choose School Activity -->
        <activity
            android:name=".ui.login.PickSchoolActivity"
            android:label="@string/choose_school"
            android:screenOrientation="portrait">
        </activity>

        <!-- Choose Gender Activity -->
        <activity
            android:name=".ui.login.PickGenderActivity"
            android:label="@string/choose_gender"
            android:screenOrientation="portrait">
        </activity>

        <!-- SearchActivity -->
        <activity
            android:name=".ui.square.SearchActivity"
            android:label="@string/search"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:screenOrientation="portrait">
        </activity>

        <!-- ImageDetailActivity -->
        <activity
            android:name=".ui.base.ImageDetailActivity"
            android:logo="@drawable/image_detail_icon"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.organiztion.OrganizationHomepageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.base.ShareMenuActivity"
            android:theme="@style/ShareDialogStyle"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.base.UserMoreMenuActivity"
            android:theme="@style/ShareDialogStyle"
            android:screenOrientation="portrait">
        </activity>

        <!-- ActivityListActivity -->
        <activity
            android:name=".ui.activity.ActivityListActivity"
            android:screenOrientation="portrait"/>

        <!-- Browser Activity -->
        <activity
            android:name=".ui.base.WebBrowserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.setting.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.setting.ChangePwdActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.login.ForgetPwdActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.list.ListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.UserListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.PickEmotionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.PickStageActivity"
            android:screenOrientation="portrait"/>
        
        <activity android:name=".ui.user.UserSearchActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".ui.user.UpdateNickActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.UpdateNameActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.UpdatePhoneActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.UpdateEmailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.UpdateWordsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.PickBirthdayActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.user.UserMoreProfile"
            android:screenOrientation="portrait"/>

        <provider
            android:name=".data.DataProvider"
            android:authorities="com.westudio.provider"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>

        <!-- 友盟 -->
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService"
            android:screenOrientation="portrait">
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <meta-data android:value="52d156f956240b7a260bf0a8" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
